@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*{
    font-family:"Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--light);
    /* border: 1px solid red; */
}
:root{
    --light:rgb(238, 238, 238);
    --mid:rgb(49, 54, 63);
    --dark:rgb(34, 40, 49);
    --contrast:rgb(118, 171, 174);
    --text: rgb(245, 245, 220);
    --menubox-width:300px;
}
body{
    position: relative;
    background-color: var(--dark);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#screenBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    border: 2px solid var(--contrast);
    background-color: var(--text);
}
#menuBox{
    position: absolute;
    top: 0;
    right: 0;
    width: var(--menubox-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--contrast);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    backdrop-filter: blur(5px);
    background-color: var(--mid);
}
.open{
    transform: translateX(0vw);
}
.closed{
    transform: translateX(var(--menubox-width));
}
.buttonMenu{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid var(--contrast);
    background-color: var(--mid);
    font-weight: 600;
    font-size: 100%;
    color: var(--contrast);
    transition-duration: 0.8s;
}
.buttonMenu:hover, .buttonMenuActive{
    color: var(--light);
    background-color: var(--dark);
    box-shadow:inset 0 0 3px 0 var(--contrast);
}
.divMenu{
    width: 100%;
    height: 100%;
    border: 1px solid var(--contrast);
    background-color: var(--mid);
    color: var(--contrast);
    transition-duration: 0.8s;
    overflow: hidden;
}

#menuHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}
#menuMain{
    height: 100%;
}
/* #menuMain{
    height: 80vh;

} */